body {
  display: flex;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 20px;
}

.todo-list {
  display: flex;
  text-align: left;
}

.todo-text {
  flex: 3;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.delete {
  margin-left: 10px;
}

.todo-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.todo-action {
  display: flex;
  flex: 1;
  margin-left: 5px;
  justify-content: flex-end;
}

@media (max-width: 500px) {
  .todo-card {
    width: 95vw !important;
  }

  .todo-container {
    top: 10px;
  }

  .btn-success,
  .btn-danger {
    padding: 0.25rem 0.5rem;
  }
}
